.organization-chart {
  &__title {
    text-align: center;
    font-size: 80px;
    margin-bottom: 40px;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.about-how {
  padding: 140px 0 85px 0;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 100px;
    }

    &:nth-child(1) {
      .about-how__item-img {
        width: 55%;
      }
    }

    &:nth-child(2) {
      .about-how__item-img {
        width: 45%;
      }
    }

    &:nth-child(3) {
      .about-how__item-img {
        width: 45%;
      }
    }

    &:nth-child(4) {
      .about-how__item-img {
        width: 45%;
      }
    }

    &:nth-child(5) {
      .about-how__item-img {
        width: 40%;
      }
    }

    &:nth-child(6) {
      .about-how__item-img {
        width: 35%;
        top: auto;
        bottom: 0;
        transform: translateY(0);
      }
    }

    &:nth-child(even) {
      .about-how__item-img {
        left: 0;
        right: auto;
      }

      .about-how__item-content {
        margin-left: auto;
      }
    }

    &:nth-child(odd) {
      .about-how__item-img {
        left: auto;
        right: 0;
      }
    }

    &-img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 45%;
      height: auto;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-content {
      width: 63%;
    }

    &-label {
      display: block;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 40px;
      text-transform: uppercase;
    }

    &-title {
      font-size: 32px;
      margin-bottom: 24px;
    }

    &-text {
      color: $color-white-80;
    }
  }
}

.code-of-ethics {
  &__inner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 80px;
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-size: 80px;
    margin-bottom: 24px;
    letter-spacing: -0.02em;
  }

  &__text {
    color: $color-white-80;
  }

  &__slider {
    .main-slider__slide-col {
      &.col-2 {
        max-width: 550px;
        width: 100%;
      }

      &.col-3 {
        width: 25%;
      }
    }
    .main-slider__slide-img {
      width: 100%;
    }

    .main-slider__slide-text {
      text-transform: none;
      font-size: 18px;
      span {
        font-family: $base-font-serif;
        color: transparent;
        background: linear-gradient(89.97deg, #3e93f4 0.03%, #e8991b 99.97%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.about-contacts {
  padding-bottom: 160px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 24px;
  }

  &__item {
    border: 1px solid $color-white-60;
    border-radius: 8px;
    overflow: hidden;
    padding: 24px;
    position: relative;
    height: 403px;

    &:nth-child(1) {
      .about-contacts__item-img {
        width: 86%;
      }
    }

    &:nth-child(2) {
      .about-contacts__item-img {
        width: 100%;
        right: 50%;
        transform: translateX(50%);
      }
    }

    &:nth-child(3) {
      .about-contacts__item-img {
        width: 83%;
      }
    }

    &:nth-child(4) {
      .about-contacts__item-img {
        width: 75%;
      }
    }

    &:nth-child(5) {
      .about-contacts__item-img {
        right: auto;
        left: 0;
        width: 90%;
      }
    }

    &:nth-child(6) {
      .about-contacts__item-img {
        width: 95%;
      }
    }

    &:nth-child(7) {
      .about-contacts__item-img {
        width: 95%;
        right: 50%;
        transform: translateX(50%);
      }
    }

    &:nth-child(8) {
      .about-contacts__item-img {
        width: 83%;
      }
    }

    &:nth-child(9) {
      .about-contacts__item-img {
        width: 95%;
      }
    }

    &-title {
      font-size: 32px;
      margin-bottom: 16px;
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
      color: $color-white-60;
      text-transform: uppercase;
    }

    &-img {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      width: 85%;
      height: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
