.application-membership {
  overflow: hidden;
  &__title {
    font-size: 80px;
    margin-bottom: 24px;
    text-align: center;
  }

  &__steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
  }

  &__step {
    font-size: 14px;
    color: $color-white-80;
    font-weight: 500;
    text-transform: uppercase;

    &--active {
      color: $color-white-100;
    }
  }

  &__separator {
    width: 88px;
    height: 1px;
    background: linear-gradient(90deg, #ffffff 0%, #333333 100%);
  }

  &__steps-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-bottom: 60px;

    &-separator,
    &-total {
      color: $color-white-40 !important;
    }

    &-label {
      margin-right: 4px;
    }

    span {
      font-size: 14px;
      font-weight: 500;
      color: $color-white-80;
      text-transform: uppercase;
    }
  }

  //Level Form Start

  &__form-level {
    max-width: 965px;
    width: 100%;
    margin: 0 auto;

    &-title {
      font-size: 32px;
      margin-bottom: 44px;
      text-align: center;
    }

    &-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 36px 44px;
      margin-bottom: 52px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 44px;
      padding: 24px;
      border: 1px solid $color-white-20;
      border-radius: 4px;

      &--selected {
        border-color: $color-white-100;
        background-color: rgba(255, 255, 255, 0.05);
      }

      &:last-child {
        grid-column: span 2;
      }

      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
      }

      &-title {
        font-size: 32px;
        width: 100%;
      }

      &-price {
        font-size: 24px;
        font-weight: 500;
      }

      &-button {
        &.current-level {
          border-color: transparent;
          background-color: $color-white-40;
          box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 1) inset;
        }
      }
    }

    &-btn {
      width: 100%;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
