<header id="header" class="header">
    <div class="header__inner">
        <a href="index.html" class="header__logo">
            <img src="/images/logo-text.png" alt="Noodynamics">
        </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="about.html" class="header__nav-link">About</a></li>
                <li class="header__nav-item"><a href="books.html" class="header__nav-link">books</a></li>
                <li class="header__nav-item"><a href="journal.html" class="header__nav-link">journal</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link">Events</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link">Extras</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link">Membership</a></li>
            </ul>
        </nav>
        <div class="header__actions">
            <a href="#" class="header__action header__action--primary">
                <span>login</span>
                <img src="/icons/login.svg" alt="image not found">
            </a>
            <a href="#" class="header__action btn btn--primary">donate now</a>
        </div>
    </div>
</header>