<div class="site-audio" id="site-audio">
    <audio class="site-audio__media js-site-audio-media" preload="auto" loop></audio>
    <button type="button" class="site-audio__toggle js-site-audio-toggle" aria-label="Play ambient audio"
        aria-pressed="false">
        <span class="site-audio__icon site-audio__icon--play" aria-hidden="true">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M5.5 2.89978C5.50014 2.46871 5.95992 2.27708 6.24512 2.49646L6.25586 2.50525L6.26758 2.51306L19.5176 11.5629L19.5225 11.5658C19.8256 11.7679 19.8256 12.1821 19.5225 12.3842L19.5166 12.3881L6.2666 21.4877L6.24512 21.5033C5.95988 21.7227 5.5 21.5312 5.5 21.1V2.89978Z"
                    fill="currentColor" stroke="currentColor" />
            </svg>
        </span>
        <span class="site-audio__icon site-audio__icon--pause" aria-hidden="true">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 5H10V19H8V5Z" fill="currentColor" />
                <path d="M14 5H16V19H14V5Z" fill="currentColor" />
            </svg>
        </span>
    </button>
</div>
